#Terraform
aws_credentials.tfvars

# Postgress container data
postgresql_data/

#Java
target/
*.log
*.log.*.gz
*.tmp
*.iml
*.swp
.idea
.settings
.checkstyle
.project
.classpath
bin/
*.orig

# JS
node_modules/

# Python
__pycache__/
*.pyc
*/api-gateway-authorizer/dist/*